
    <div class="header">
        <img src="assets/images/logo.png" alt="Logo" class="logo">
        <div class="header-right">
            <a href="/homepage">Home</a>
            <a href="/questions">Questions & <br>réponses</a>

            <ng-container *ngIf="estAdmin;">
                <app-page-admin-button></app-page-admin-button>
            </ng-container>
            <ng-container *ngIf="estConnecte || estAdmin; else notConnected">
                <app-logout></app-logout>
            </ng-container>
            
            <ng-template #notConnected>
                <a href="/login">Login</a>
            </ng-template>     
         </div>
         <h1>Bonjour {{nomClient}} !</h1>
      </div>
