.progressBarBackground{
    display: block;
    width: 60%;
    height: 25px;
    border: 2px solid #999999;
    background-color: #d8d8d8;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 25px;
}

.progressBar{
    display: block;
    height: 25px;
    background-color: #ffec99;
    border-radius: 15px;
    transition: width 0.5s;
}

.questionTitle{
    display: block;
    text-align: center;
    font-size: 30px;
    width: 70%;
    margin: 0 auto;
}

.questionAnswers {
    max-width: 1200px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0px;
    justify-items: center;
    padding: 20px;
    margin: 20px auto;
    margin-bottom: 0px;
  }
  
  .box{
    min-width: 250px;
    min-height: 50px;
    padding: 20px 40px;
  }

  .boxText{
    cursor: pointer;
    min-width: 250px;
    min-height: 50px;
    background-color: #dfd4fb;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 15px;
    text-align: center;
    font-size: 1.3em;
    transition: 0.3s;
  }

  .boxTextSelected{
    cursor: pointer;
    min-width: 250px;
    min-height: 50px;
    background-color: #108693;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 15px;
    text-align: center;
    font-size: 1.3em;
    transition: 0.3s;
  }

  .boxTextSelected:hover{
    background-color: #0a6c77;
  }

  .engagement{
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    margin-top: 5px;
    display: flex;
    align-items: center
  }

  .checkboxEngage{
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  .checkboxEngage:checked{
    accent-color: #2f9e44;
  }

  .boxText:hover{
    background-color: #c9b8f7;
  }

  .questionAnswers > .box:nth-child(odd):last-child {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .comField{
    display: block;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-top: 0px;
  }

  .comText{
    min-width: 600px;
    min-height: 80px;
    background-color: #eeeeee;
    border-radius: 25px;
  }

  .nextQuestion{
    display: block;
    width: 300px;
    height: 60px;
    font-size: large;
    font-weight: bold;
    line-height: 30px;
    border-radius: 15px;
    border: 5px black;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #c5fddf;
    transition: 0.2s;
    margin-top: 60px;
    margin-bottom: 100px;
    cursor: pointer;
  }

  .nextQuestion:hover{
    background-color: #a3f7c2;
  }

  .containerDiviseur{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  .left{
    width: 30%;
    height: 100%;
    margin-left: 3%;
  }

  .right{
    width: 80%;
  }

  td, tr, th, table{
    width: 100%;
    height: 40px;
    border-collapse: collapse;
  }

  table{
    display: block;
    height: 50%;
    text-align: left;
    background: #e4e4e4;
  }

  th{
    background-color: #0a6c77;
    color: white;
  }
  .category{
    background: #38929c;
    color: black;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    padding-left: 5px;
  }

  .souscategory{
    background: #b5b5b5;
    color: black;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
  }

  .question{
    margin: 0px;
    padding: 0px;
    background: #e4e4e4;
    color: black;
    border: 1px solid black;
  }
  .tableContainer {
    max-height: 600px;
    width: 500px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .crop {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 500px;
    display: inline-block;
  }

  tr{
    height: 20px;
  }

  .link{
    height: 30px;
    text-decoration: none;
  }

  .answered{
    background: #b5cdbf;
  }

  .current{
    background: #fde791;
  }

  .souscategory td{
    padding-left: 10px;
  }

  .question{
    padding-left: 20px;
    cursor: pointer;
  }

  .vueEnsemble{
    border: none;
    background-color: #0a6c77;
    height: 50px;
    width: 200px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 15px;
    text-align: center;
    line-height: 50px;
    font-style: normal;
  }