<div class="description">

  <p> <a id="retour" href="/homepage">Retour à la page</a>
  <p> Bienvenue sur notre questionnaire d'Onboarding ! Nous sommes ravis de vous accueillir et de vous guider à travers
    cette première étape importante. Ce questionnaire a été conçu pour mieux vous connaître et vous accompagner dans la
    découverte de nos outils et services. À la fin de ce processus, vous aurez l'opportunité de réaliser une évaluation
    complète de votre score ESG. Pour cela, il vous suffira de créer un compte dès maintenant. Prenez le temps de
    répondre attentivement à chaque question afin que nous puissions vous offrir une expérience personnalisée et adaptée
    à vos besoins. Bonne exploration et à très bientôt dans la suite de votre parcours ESG !</p>
</div>
<div class="wrapper">
  <div class="blur-container">

    <div class="form-box register">

      <h2>Registration</h2>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="input-box">
          <label>Quel est votre prénom ? *</label>
          <input type="text" [(ngModel)]="registrationData.prenom" name="prenom" formControlName="prenom">
          <div class="error-message" *ngIf="signupForm.controls['prenom'].invalid && signupForm.controls['prenom'].touched">
            <small *ngIf="signupForm.controls['prenom'].hasError('required')">Le prénom est requis.</small>
            <small *ngIf="signupForm.controls['prenom'].hasError('minlength')">Doit contenir au moins 2 caractères.</small>
          </div>
        </div>
        <div class="input-box">
          <label>Quel est votre nom ? *</label>
          <input type="text" [(ngModel)]="registrationData.nom" name="nom" formControlName="nom">
          <div class="error-message" *ngIf="signupForm.controls['nom'].invalid && signupForm.controls['nom'].touched">
            <small *ngIf="signupForm.controls['nom'].hasError('required')">Le nom est requis.</small>
            <small *ngIf="signupForm.controls['nom'].hasError('minlength')">Doit contenir au moins 2 caractères.</small>
          </div>
        </div>
        <div class="input-box">
          <label>Quelle est votre adresse e-mail ? *</label>
          <input type="email" [(ngModel)]="registrationData.email" name="email" formControlName="email">
          <div class="error-message" *ngIf="signupForm.controls['email'].invalid && signupForm.controls['email'].touched">
            <small *ngIf="signupForm.controls['email'].hasError('required')">L'email est requis.</small>
            <small *ngIf="signupForm.controls['email'].hasError('pattern')">Format invalide</small>
          </div>
        </div>
        <div class="input-box">
          <label>Quelle est votre fonction ? *</label>
          <input type="text" [(ngModel)]="registrationData.fonction" name="fonction" formControlName="fonction">
          <div class="error-message" *ngIf="signupForm.controls['fonction'].invalid && signupForm.controls['fonction'].touched">
            <small *ngIf="signupForm.controls['fonction'].hasError('required')">La fonction est requise.</small>
          </div>
        </div>
        <div class="input-box">
          <label>Quel est le nom de votre entreprise ? *</label>
          <input type="text" [(ngModel)]="registrationData.nomEntreprise" name="nomEntreprise" formControlName="nomEntreprise">
          <div class="error-message" *ngIf="signupForm.controls['nomEntreprise'].invalid && signupForm.controls['nomEntreprise'].touched">
            <small *ngIf="signupForm.controls['nomEntreprise'].hasError('required')">Le nom de l'entreprise est requis.</small>
            <small *ngIf="signupForm.controls['nomEntreprise'].hasError('minlength')">Doit contenir au moins 2 caractères.</small>
          </div>
        </div>
        <div class="input-box">
          <label>Quel est votre n° d'entreprise ? *</label>
          <input type="text" [(ngModel)]="registrationData.numEntreprise" name="numEntreprise" formControlName="numEntreprise">
          <div class="error-message" *ngIf="signupForm.controls['numEntreprise'].invalid && signupForm.controls['numEntreprise'].touched">
            <small *ngIf="signupForm.controls['numEntreprise'].hasError('required')">Le numéro d'entreprise est requis.</small>
            <small *ngIf="signupForm.controls['numEntreprise'].hasError('pattern')">Format : BE + 10 chiffres.</small>
          </div>
        </div>
        <div class="input-box">
          <label>Quelle est la forme juridique ? *</label>
          <input type="text" [(ngModel)]="registrationData.formeJuridique" name="formeJuridique" formControlName="formeJuridique">
          <div class="error-message" *ngIf="signupForm.controls['formeJuridique'].invalid && signupForm.controls['formeJuridique'].touched">
            <small *ngIf="signupForm.controls['formeJuridique'].hasError('required')">La forme juridique est requise.</small>
            <small *ngIf="signupForm.controls['formeJuridique'].hasError('minlength')">Doit contenir au moins 2 caractères.</small>
          </div>
        </div>
        <div class="input-box">
          <label>Quelle est l'adresse du siège social ? *</label>
          <input type="text" [(ngModel)]="registrationData.adresseSiegeSocial" name="adresseSiegeSocial" formControlName="adresseSiegeSocial">
          <div class="error-message" *ngIf="signupForm.controls['adresseSiegeSocial'].invalid && signupForm.controls['adresseSiegeSocial'].touched">
            <small *ngIf="signupForm.controls['adresseSiegeSocial'].hasError('required')">L'adresse est requise.</small>
            <small *ngIf="signupForm.controls['adresseSiegeSocial'].hasError('minlength')">Doit contenir au moins 3 caractères.</small>
          </div>
        </div>
        <div class="input-box">
          <label>Quelle est l'adresse de votre site web ? *</label>
          <input type="text" [(ngModel)]="registrationData.adresseSiteWeb" name="adresseSiteWeb" formControlName="adresseSiteWeb">
          <div class="error-message" *ngIf="signupForm.controls['adresseSiteWeb'].invalid && signupForm.controls['adresseSiteWeb'].touched">
            <small *ngIf="signupForm.controls['adresseSiteWeb'].hasError('required')">L'adresse du site web est requise.</small>
            <small *ngIf="signupForm.controls['adresseSiteWeb'].hasError('pattern')">Format URL invalide.</small>
          </div>
        </div>
        <div class="input-box">
          <label>Quel est le Code Nace de votre activité principale ? *</label>
          <input type="text" [(ngModel)]="registrationData.codeNace" name="codeNace" formControlName="codeNace">
          <div class="error-message" *ngIf="signupForm.controls['codeNace'].invalid && signupForm.controls['codeNace'].touched">
            <small *ngIf="signupForm.controls['codeNace'].hasError('required')">Le code NACE est requis.</small>
            <small *ngIf="signupForm.controls['codeNace'].hasError('minlength')">Minimum 4 caractères.</small>
            <small *ngIf="signupForm.controls['codeNace'].hasError('maxlength')">Maximum 6 caractères.</small>
          </div>
        </div>
        <div class="input-box">
          <label>Décrivez votre activité en quelques mots. *</label>
          <textarea [(ngModel)]="registrationData.activitePrincipale" name="activitePrincipale" formControlName="activitePrincipale"></textarea>
          <div class="error-message" *ngIf="signupForm.controls['activitePrincipale'].invalid && signupForm.controls['activitePrincipale'].touched">
            <small *ngIf="signupForm.controls['activitePrincipale'].hasError('required')">Votre activité principale est requise.</small>
          </div>
        </div>
        <div class="input-box">
          <label>Quel est le chiffre d'affaires du dernier exercice fiscal ? *</label>
          <input type="number" [(ngModel)]="registrationData.dernierChiffreDAffaire" name="dernierChiffreDAffaire" formControlName="dernierChiffreDAffaire">
          <div class="error-message" *ngIf="signupForm.controls['dernierChiffreDAffaire'].invalid && signupForm.controls['dernierChiffreDAffaire'].touched">
            <small *ngIf="signupForm.controls['dernierChiffreDAffaire'].hasError('required')">Le chiffre d'affaires est requis.</small>
          </div>
        </div>
        <div class="input-box">
          <label>Est-ce une franchise ?</label>
          <input type="checkbox" [(ngModel)]="registrationData.estFranchise" name="estFranchise" formControlName="estFranchise">
        </div>
        <div class="input-box">
          <label>Etes-vous propriétaire?</label>
          <input type="checkbox" [(ngModel)]="registrationData.estProprietaire" name="estProprietaire" formControlName="estProprietaire">
        </div>
        <div class="input-box">
          <label>Vendez-vous des services?</label>
          <input type="checkbox" [(ngModel)]="registrationData.vendService" name="vendService" formControlName="vendService">
        </div>
        <div class="input-box">
          <label>Vendez-vous des produits?</label>
          <input type="checkbox" [(ngModel)]="registrationData.vendProduit" name="vendProduit" formControlName="vendProduit">
        </div>
        <div class="input-box">
          <label>Combien de travailleurs comptez-vous ? *</label>
          <input type="number" [(ngModel)]="registrationData.nbTravailleur" name="nbTravailleur" formControlName="nbTravailleur">
          <div class="error-message" *ngIf="signupForm.controls['nbTravailleur'].invalid && signupForm.controls['nbTravailleur'].touched">
            <small *ngIf="signupForm.controls['nbTravailleur'].hasError('required')">Ce champ est requis.</small>
          </div>
        </div>
        <div class="input-box">
          <label>Est-ce que votre entreprise est actuellement impliquée <p>dans un litige concernant le respect des lois sociales et environnementales ?</label>
            <input type="checkbox" [(ngModel)]="registrationData.estDansUnLitige" name="estDansUnLitige" formControlName="estDansUnLitige">
        </div>
        <div class="input-box">
          <label>Avez-vous l'intention de soumettre une demande de subside <p> pour le coût du "travail d'analyse visant l'obtention du label" ?</label>
            <input type="checkbox" [(ngModel)]="registrationData.demandeDeLabel" name="demandeDeLabel" formControlName="demandeDeLabel">
        </div>
        <div class="input-box">
          <label>Comment avez-vous connu ShiftingPact™ ? *</label>
          <textarea [(ngModel)]="registrationData.partenaire" name="partenaire" formControlName="partenaire"></textarea>
          <div class="error-message" *ngIf="signupForm.controls['partenaire'].invalid && signupForm.controls['partenaire'].touched">
            <small *ngIf="signupForm.controls['partenaire'].hasError('required')">Merci de compléter le champ.</small>
          </div>
        </div>
        <div class="input-box">
          <label>Souhaitez-vous ajouter autre chose ?</label>
          <textarea [(ngModel)]="registrationData.commentaire" name="commentaire" formControlName="commentaire"></textarea>
        </div>
        <div class="input-box">
          <label>Mot de passe *</label>
          <input type="password" name="mdp" formControlName="mdp">
          <div class="error-message" *ngIf="signupForm.controls['mdp'].invalid && signupForm.controls['mdp'].touched">
            <small *ngIf="signupForm.controls['mdp'].hasError('required')">Le mot de passe est requis.</small>
          </div>
        </div>
        <button type="submit" class="btn">Sign Up</button>
        <div class="login-register">
          <p>Already have an account ?
            <a href="/login" class="login-link">Login</a>
          </p>
        </div>
      </form>
    </div>
  </div>

  <app-footer></app-footer>