<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <label for="email">email:</label>
    <input
      type="text"
      id="email"
      [(ngModel)]="loginData.email"
      name="email"
      required
      #email="ngModel"
    />
    <div *ngIf="email.invalid && email.touched" class="error">
      email is required.
    </div>

    <!-- <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="loginData.password"
      name="password"
      required
      #password="ngModel"
    />
    <div *ngIf="password.invalid && password.touched" class="error">
      Password is required.
    </div> -->

    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
