.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: black;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 100;
  }
  
  .back-to-top:hover {
    background-color: grey;
  }