<app-header></app-header>

<div class="questionCenter">
    <div class="progressBarBackground">
        <div class="progressBar" [style.width.%]="progress"></div>
    </div>
    <h1 class="questionTitle">Avez-vous un contrat vert avec votre fournisseur d'énergie?</h1>

    <div class="questionAnswers">
        <div class="box">
            <div class="boxText">Oui</div>
            <div class="engagement">
                <input type="checkbox" class="checkboxEngage">
                <label for="engagement">Je m'engage à le faire dans les 2 ans</label>
            </div>
        </div>
        <div class="box">
            <div class="boxText">Non</div>
            <div class="engagement">
                <input type="checkbox" class="checkboxEngage">
                <label for="engagement">Je m'engage à le faire dans les 2 ans</label>
            </div>
        </div>
        <div class="box">
            <div class="boxText">Je ne sais pas</div>
            <div class="engagement">
                <input type="checkbox" class="checkboxEngage">
                <label for="engagement">Je m'engage à le faire dans les 2 ans</label>
            </div>
        </div>
        <div class="box">
            <div class="boxText">N/A</div>
            <div class="engagement">
                <input type="checkbox" class="checkboxEngage">
                <label for="engagement">Je m'engage à le faire dans les 2 ans</label>
            </div>
        </div>
    </div>
    <div class="comField">
        <h3>Commentaire:</h3>
        <input type="text" class="comText" placeholder="Écrivez ici un commentaire si nécessaire">
    </div>

    <div class="nextQuestion">Question Suivante</div>
</div>

<app-footer></app-footer>