
<div class="homepage-container">
    <app-header></app-header>
    <body>
        <section class="jaune">
            <h1>titre</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ea iusto ex sequi dolore ipsum odit vero quasi assumenda? Autem fuga nobis odit doloribus deserunt. Officiis, impedit. Facere, eveniet ex.</p>
            <div class="curve"></div>
        </section>
        <section >
            <h1>titre</h1>
            <p>Numquam perferendis dolores modi non minus veniam enim dolorem quam exercitationem iure? Iure incidunt atque ullam, ipsum quas consequuntur cum perferendis excepturi facilis distinctio, eos, quisquam nam provident nisi! Ex!</p>
        </section>
        <section class="bubble">
            <h1>titre</h1>
            <p>Consectetur dolorum ullam aliquid alias eligendi dolorem sequi laboriosam ducimus, numquam provident assumenda perferendis sit ut corrupti molestias magnam esse modi illo voluptas expedita rerum. Porro obcaecati repudiandae commodi adipisci.</p>
            
        </section>
        <section class="greenC">
            <h1>titre</h1>
            <p>Quo sed quae repudiandae. Enim maiores dolore sit, reiciendis maxime non illum sed aspernatur delectus soluta, suscipit tempora amet voluptates veritatis esse ducimus. Beatae suscipit quisquam error, amet inventore asperiores.</p>
            <div class="custom-shape-divider-top-1733401539">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z" class="shape-fill"></path>
                </svg>
            </div>
        </section>
    </body>
    
  </div>