
<div class="homepage-container">
    <app-header></app-header>
    <body>
      
        <section class="jaune">
            

           
          <h1>Certification  <span>ShiftingPact</span></h1>
<br><br><br>
        <div class="description-container">
          <p class="sousTitres1">Qui sommes-nous?</p>
            <p class="texte1">Notre mission est d’accompagner les entreprises à créer, développer et implémenter leur stratégie de durabilité.</p>
        </div>
        

        <br><br><br><br>



        <div class="description-container2">
          <p class="sousTitres2">L'objectif de notre certification?</p>
            <p class="texte2">L'objectif de notre certification est en effet de reconnaître, au-delà de votre impact, vos performances ESG actuelles et vos engagements à les améliorer à l'avenir.</p>
          <p class="texte2">Votre score final se compose des éléments suivants et met en valeur :</p>
          <ul class="texte2">
              <li>L'impact de votre entreprise au travers des Objectifs de Développement Durable</li>
              <li>La performance ESG de vos pratiques opérationnelles</li>
              <li>Les engagements que vous prenez pour améliorer vos pratiques opérationnelles</li>
          </ul>
        </div>

        <br><br><br><br>

        <div class="description-container3">
        <p class="sousTitres3">Pourquoi le faire chez nous?</p>
          <p class="texte3">Votre label ShiftingPact est agréé par la Région de Bruxelles-Capitale et vous donne accès, en tant qu'entreprise "exemplaire", à la majoration de vos subsides pour toutes les missions subsidiables à l'avenir :</p>
          <p>
              <a class="texteVertClair" href="https://economie-emploi.brussels/primes-gerer-entreprise">
                  https://economie-emploi.brussels/primes-gerer-entreprise
              </a>
          </p>
      
          <p class="texte3">La qualité de votre label est garantie par :</p>
          <ul class="texte3">
              <li>Un processus de vérification interne</li>
              <li>Un dialogue entre l'entreprise certifiante et le vérificateur avant l'attribution du label</li>
          </ul>
          <p class="texteVertClair2">De plus, <strong>Forum Ethibel</strong> est désigné comme auditeur externe pour effectuer des contrôles ex-post (voir "Référentiels Standards").</p>
        </div>
        <br><br><br>
        <br>
            <div class="curve"></div>
        </section>


        <section class="vertFonce">
<br><br><br><br>


    <div class="description-container">
          <h1 class="sousTitres1">Critères ESG</h1>

          <p class="texte1"><strong>ESG</strong> est l'acronyme de <em>Environnement, Social et Gouvernance</em>. Il s'agit d'un ensemble de critères utilisés pour évaluer les performances et l'impact d'une entreprise dans ces trois domaines.</p>
        </div>

        <br><br><br><br>



        <div class="environnement-container">
          <h2 class="sousTitres1"><span>E</span>nvironnement</h2>
          <p class="texte1">Il s'agit de la manière dont une entreprise gère son impact sur l'environnement naturel. Cela inclut :</p>
          <ul class="texte1">
              <li>Les émissions de carbone</li>
              <li>L'efficacité énergétique</li>
              <li>La gestion des déchets</li>
              <li>L'utilisation de l'eau</li>
              <li>La préservation de la biodiversité</li>
          </ul>
        </div>


<br><br><br><br>

    <div class="environnement-container2">
          <h2 class="sousTitres1"><span>S</span>ocial</h2>
          <p class="texte1">Il s'agit de la manière dont une entreprise interagit et affecte les personnes, les communautés et la société dans son ensemble. Cela inclut :</p>
          <ul class="texte1">
              <li>Les pratiques de travail</li>
              <li>Les droits de l'homme</li>
              <li>La diversité et l'intégration</li>
              <li>L'engagement communautaire</li>
              <li>La sécurité des produits</li>
          </ul>
        </div>

<br><br><br><br>

<div class="environnement-container3">
          <h2 class="sousTitres1"><span>G</span>ouvernance</h2>
          <p class="texte1">Il s'agit de la manière dont une entreprise est gouvernée, gérée et contrôlée. Cela inclut :</p>
          <ul class="texte1">
              <li>La diversité du conseil d'administration</li>
              <li>La rémunération des dirigeant·es</li>
              <li>Les droits des actionnaires</li>
              <li>La transparence</li>
              <li>L'éthique</li>
          </ul>
      </div>

      
      
     
          </section>



        <section class="bubble">
            <br><br><br><br>
            <div class="container">
                
            <h2 class="sousTitres1">Utilisation des critères ESG</h2>
            <p class="texte1">
                Les critères ESG sont utilisés par les acteurs économiques (investisseur·euses, analystes, clients, fournisseurs, etc.) pour évaluer la durabilité, les pratiques éthiques et la viabilité à long terme d'une entreprise.
            </p>
            <p class="texte1">
                Les entreprises qui obtiennent de bons résultats sur les critères ESG sont souvent considérées comme plus résilientes, plus responsables et plus attrayantes pour les clients et les investisseur·euses.
            </p>
        
            <p class="texte1">
                L'intégration des considérations ESG dans les stratégies d'entreprise peut également améliorer :
            </p>
            <ul class="texte1">
                <li>La gestion des risques</li>
                <li>L'efficacité opérationnelle</li>
                <li>La confiance des parties prenantes</li>
            </ul>
        </div>
        </section>
        <section class="greenC">
            <br><br><br><br>

            <br><br><br><br>



            
          <h1>Faire le questionnaire d'Onboarding</h1>
          <p>
             Et créez-vous un compte
          </p>
          <br><br>
          <button class="button-onboarding" role="button" [routerLink]="['/onboarding']">Questionnaire d'Onboarding</button>

            <div class="custom-shape-divider-top-1733401539">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z" class="shape-fill"></path>
                </svg>
            </div>
        </section>
    </body>
    <app-footer></app-footer>
  </div>