<app-header></app-header>

<div class="container">
  <a href="/pageAdmin">Retour à la liste des clients</a>

  <h1>Questionnaires de: {{ client?.nomEntreprise }}</h1>
  
  
  <div *ngIf="isLoading">
    <p>Chargement des questionnaires...</p>
  </div>
  
  <div *ngIf="error">
    <p class="error">{{ error }}</p>
  </div>
  
  <div *ngIf="!isLoading && !error && questionnaires.length > 0">
    <div *ngFor="let questionnaire of questionnaires" class="questionnaire">

      <div *ngIf="questionnaire.estTermine && !questionnaire.estValide ">
        <button (click)="validerQuestionnaire(questionnaire.id.toString())">Valider Questionnaire</button>
      </div>

      <div *ngIf="questionnaire.estValide">
        <h2>
          Score Actuelle : {{ questionnaire.score }}
        </h2>
        <button (click)="afficherDetailScore(questionnaire.id.toString())">Afficher Detail Score</button>
      </div>

      <h2>Questionnaire ID: {{ questionnaire.id }}</h2>
      <p><strong>Date de Dernière Validation:</strong> {{ questionnaire.dateDerniereValidation | date:'short' }}</p>
      <p><strong>Pourcentage de Questions Répondues:</strong> {{ questionnaire.pourcentageQuestionRepondu }}%</p>
      <p><strong>Terminé:</strong> {{ questionnaire.estTermine ? 'Oui' : 'Non' }}</p>
      <p><strong>Validé:</strong> {{ questionnaire.estValide ? 'Oui' : 'Non' }}</p>
      <p><strong>Nombre de Questions Répondues:</strong> {{ questionnaire.nombreDeQuestionRepondu }}</p>
      <p><strong>Score Total:</strong> {{ questionnaire.score }}</p>
      
      <table class="questions-table">
        <thead>
          <tr>
            <th>Enjeu</th>
            <th>Sous Enjeu</th>
            <th>Intitulé</th>
            <th>Réponses</th>
            <th>Engagé</th>
            <th>Commentaire</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let question of questionnaire.questionsRepondues">
            <td>{{ question.enjeuxPrincipal || 'N/A' }}</td>
            <td>{{ question.enjeuxSecondaire || 'N/A' }}</td>
            <td>{{ question.intitule }}</td>
            <td>
              <ul>
                <li *ngFor="let reponse of question.reponseRepondus">
                  <label>
                    <input type="checkbox" [(ngModel)]="reponse.selectionne" />
                    {{ reponse.intitule }}
                    
                  </label>
                </li>
              </ul>
            </td>
            <td>
              <ul>
                <li *ngFor="let reponse of question.reponseRepondus">
                  <label>
                    <input type="checkbox" [(ngModel)]="reponse.estEngage" />
                    S'engager
                  </label>
                </li>
              </ul>
            </td>
            <td>
              <textarea [(ngModel)]="question.commentaire" rows="3" cols="30"></textarea>
              </td>
            <td>
              <button (click)="modifierReponseQuestion(questionnaire.id.toString(),question.id.toString(),question.commentaire)">Modifier Reponse</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div *ngIf="!isLoading && !error && questionnaires.length === 0">
    <p>Aucun questionnaire trouvé pour ce client.</p>
  </div>
  
  <!-- <pre *ngIf="clientId">Client ID: {{ clientId }}</pre> -->
  <pre *ngIf="questionnaires">Questionnaires: {{ questionnaires | json }}</pre>
  <pre *ngIf="error">Error: {{ error }}</pre>
</div>

<app-footer class="fixed-footer"></app-footer>
