<div>
    <footer class="footer">
        <h3 class="footerText">
            Si vous avez besoin d'aide, n'hésitez pas à nous envoyer un mail à
            <br>
            <strong><a class="footerLink" href="mailto:contact@shiftingpact.be">contact&#64;shiftingpact.be</a></strong>
            <br>
            <br>
            Nous sommes là pour vous aider, que ce soit dans le cadre du processus de
            <br>
            certification shiftingPact, ou pour créer, développer et implémenter ensemble votre
            <br>
            stratégie de durabilité et votre reporting ESG.
        </h3>
    </footer>
</div>