<app-header></app-header>

<app-questionnaire-manager></app-questionnaire-manager>

<div class="containerQuestionnaire">
    <div class="containerLeft">
        <div class="leftHeader">
            Progression du module ESG & Pacte d'engagement
        </div>

        <div class="categoryContainer">
        <div *ngFor="let category of questionnaireParCategories | keyvalue">
            <table class="category">
                <thead>
                    <tr class="categoryHeader">
                        <td><strong>{{ category.key }}</strong></td>
                        <td>
                            {{ getAnsweredTotalQuestions(category.value) }} / 
                            {{ getTotalQuestions(category.value) }}
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let subCategory of category.value | keyvalue">
                        <td>{{ subCategory.key }}</td>
                        <td>
                            {{ getAnsweredQuestionsCount(subCategory.value) }} / 
                            {{ getQuestionsCount(subCategory.value) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

            <div class="leftFooter" (click)="navigateToNextNonAnsweredQuestion(questionnaireParCategories)">
                {{ nombreDeQuestions() == nombreDeQuestionsRepondues() ? 'Terminer' : 'Question Suivante'}}
            </div>
    </div>
    <div class="containerRight">
        <img src="../../assets/images/logo_shiftingpact_vert_verteau.png" class="logoEsg">
        
        <div>
            <p class="no-margin">
                <strong>ESG</strong> 
                est l'acronyme de Environment, Social et Gouvernance. 
                Il s'agit d'un ensemble de critères utilisés pour 
                évaluer les performances et
                l'impact d'une entreprise dans ces trois domaines.
                <br><br>
            </p>
            <div class="no-margin">
                <p class="esgTitle environment">
                    Environnement
                </p>
                <p>
                    Il s'agit de la manière dont une entreprise gère son impact 
                    sur l'environnement. Il comprend des facteurs tels que les émissions de carbone, l'efficacité énergétique,
                    la gestion des déchets, l'utilisation de l'eau et la préservation de la biodiversité.
                </p>
            </div>
            <div class="no-margin">
                <p class="esgTitle social">
                    Social
                </p>
                <p>
                    Il s'agit de la manière dont une entreprise interagit et affect les personnes, les communautés et la société dans son ensemble.
                    Il comprend des facteurs tels que les pratiques de travail, les droits de l'homme, la diversité et l'intégration,
                    l'engagement communautaire et la sécurité des produits.
                </p>
            </div>
            <div class="no-margin">
                <p class="esgTitle governance">
                    Gouvernance
                </p>
                <p>
                    Il s'agit de la manière dont une entreprise est gouvernée, gérée et controlée.
                    Elle comprend des facteurs tels que la diversité du conseil d'administration,
                    la rémunération des dirigeant-es, les droits des actionnaires, la transparence et l'éthique.
                </p>
            </div>
            <div class="separator"></div>
            <div class="no-margin">
                <p>
                    <br>
                    Les critères ESG sont utilisés par les acteurs économiques (investisseur-euses,
                    les analystes, les clients, les fournisseurs, etc.) pour évaluer la durabilité, les pratiques éthiques
                    et la viabilité à long terme d'une entreprise. Les entreprises qui obtiennent de bons résultats sur les critères ESG
                    sont souvent considérés comme <strong>plus résilientes, plus responsables et plus attrayantes</strong>
                    pour les clients et les investisseur-euses.
                    <br><br>
                    L'intégration des considérations ESG dans les stratégies d'entreprise peut également améliorer
                    la <strong>gestion des risques, l'efficacité opérationnelle et la confiance des parties prenantes.</strong>
                </p>
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>